/*Contenedor*/
	.contenedor{
		width: 90%;
		margin: 0 auto;
	}
/* Cabecera */
	.cabecera{
		height: 90px;
	}
	.cabecera .logo{
		float: left;
	}

	.navegador{
		float: right;
	}
	.navegador li{
		list-style: none;
		float:left;
		font-size: 15px;
		margin-right: 10px;
		padding: 10px;
		border-color: #EEE;
		border-radius: 5px;
	}
	.navegador li:hover{
		background: #EEE; 
	}
	.simulador{
		background-color: #424F9A;
	}
	.simulador a{
		color: white;
	}
	li.simulador:hover{
		background-color: #818CCE;
		cursor: pointer;
	}

/* Banner */
	section{
		margin-bottom: 50px;
	}

	.banner img{
		width:100%;
	}
	.banner {
		width: 400px;
		margin: 0 auto;
	}

	/*Centro*/
		.centro{
			height: 150px;
		}

		.principal{
			width:70%;
			float: left;
		}
		.principal h1{
			color: #4283B0;
			text-align: center;
			text-shadow: 1px 3px #EEE;
		}
	/*Lineas*/
		.lineas {
			width: 30%;
			float: right;
			text-align: center;
		}
		.lineas h3{
			border-radius: 5px;
			background-color: #EEE;
		}
		.lineas ul{
			list-style: none;
			margin: 0;
			padding:0;
		}
		.lineas li{
			border:solid 1px;
			margin-bottom: 5px;
			border-radius: 5px;
			border-color: #EEE;
		}
		.lineas li:hover{
			background-color: #EEE;
		}
	/*Animación*/
	.bounceInLeft {
	    -webkit-animation-name: bounceInLeft;
	    animation-name: bounceInLeft;
		background-repeat: no-repeat;
		background-position: left top; 
		-webkit-animation-duration: 2.3s; 
		animation-duration: 2.3s; 
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both; 
	}

	@keyframes bounceInLeft {
	    0% {
	       opacity: 0;
	       transform: translateX(-600px);
	    }
	    60% {
	       opacity: 1;
	       transform: translateX(30px);
	    }
	    80% {
	       transform: translateX(-10px);
	    }
	    100% {
	       transform: translateX(0);
	    }
	 }
	         
	@-webkit-keyframes bounceInLeft {
		0% {
		   opacity: 0;
		   -webkit-transform: translateX(-600px);
		}
		60% {
		   opacity: 1;
		   -webkit-transform: translateX(30px);
		}
		80% {
		   -webkit-transform: translateX(-10px);
		}
		100% {
		   -webkit-transform: translateX(0);
		}
	}
/* Pie*/
	footer{
		background-color: #424F9A;
		color: #FFF;
		height: 70px;
	}

	.salto{
		display: block;
	}
/*Información*/
	.info{
		float: left;
		padding:5;
		text-align: center;
	}
/*Redes*/
	.redes{
		float: right;
	}
	.redes li{
		list-style: none;
		display: inline;
		padding-right: 5px;
	}
	.redes li a{
		color: #EEE;
	}
	.redes i{
		font-size: 25px;
	}

/*****************  Pagina Registro *********************/
.registro .titulo{
	text-align: center;
}
.registro #error{
	color: red;
	font-weight: bold;
}