@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen');
*{
	font-family: 'Oxygen', sans-serif;
}
a{
	text-decoration: none;
	color: #0074D9;
}
/*Contenedor*/
	.contenedor{
		width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100px 15px 200px 15px auto 15px auto;
	}
/* Cabecera */
	.cabecera{
		grid-column: 1;
		grid-row: 1;

		display: grid;
		grid-template-columns: 10% 30% 1fr;
		grid-template-rows: auto;
	}
	.cabecera .logo{
		grid-column: 1;
	}

	.navegador{
		grid-column: 4;
	}
	.navegador li{
		list-style: none;
		float:left;
		font-size: 15px;
		margin-right: 10px;
		padding: 10px;
		border-color: #EEE;
		border-radius: 5px;
	}
	.navegador li:hover{
		background: #EEE; 
	}

/* Banner */
	.banner {
		grid-row: 3;
		width: 400px;
		margin: 0 auto;
	}

	.banner img{
		width:100%;
	}

	/*Centro*/
		.centro{
			grid-row: 5;

			display: grid;
			grid-template-columns: 50% 10% 1fr;
			grid-template-rows: auto;
		}

		.principal{
			padding-left: 5%;
			grid-column: 1;
		}
		.principal h1{
			font-family: 'Abel', sans-serif;
			color: #001f3f;
			text-align: center;
		}

		/*Lineas*/
			.lineas {
				grid-column: 3;
				text-align: center;
			}
			.lineas h3{
				border-radius: 5px;
				background-color: #EEE;
			}
			.lineas ul{
				list-style: none;
				margin: 0;
				padding:0;
			}
			.lineas li{
				border:solid 1px;
				margin-bottom: 5px;
				border-radius: 5px;
				border-color: #EEE;
			}
			.lineas li:hover{
				background-color: #EEE;
			}
	/*Animación*/
	.bounceInLeft {
	    -webkit-animation-name: bounceInLeft;
	    animation-name: bounceInLeft;
		background-repeat: no-repeat;
		background-position: left top; 
		-webkit-animation-duration: 2.3s; 
		animation-duration: 2.3s; 
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both; 
	}

	@keyframes bounceInLeft {
	    0% {
	       opacity: 0;
	       transform: translateX(-600px);
	    }
	    60% {
	       opacity: 1;
	       transform: translateX(30px);
	    }
	    80% {
	       transform: translateX(-10px);
	    }
	    100% {
	       transform: translateX(0);
	    }
	 }
	         
	@-webkit-keyframes bounceInLeft {
		0% {
		   opacity: 0;
		   -webkit-transform: translateX(-600px);
		}
		60% {
		   opacity: 1;
		   -webkit-transform: translateX(30px);
		}
		80% {
		   -webkit-transform: translateX(-10px);
		}
		100% {
		   -webkit-transform: translateX(0);
		}
	}
/* Pie*/
	footer{
		grid-row: 7;

		display: grid;
		grid-template-columns: 50% 20% 20% 5%;
		background-color: #424F9A;
		color: #FFF;
	}

	.salto{
		display: block;
	}
/*Información*/
	.info{
		grid-column: 1;
		padding: 5px;
		text-align: center;
	}
/*Redes*/
	.redes{
		grid-column: 3;
	}
	.redes li{
		list-style: none;
		display: inline;
		padding-right: 5px;
	}
	.redes li a{
		color: #EEE;
	}
	.redes i{
		font-size: 25px;
	}
